html body{
    background-image: url('https://image.freepik.com/free-photo/brown-paper-texture-background_64749-1504.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

form {
    width: 600px;
    margin: 50px;
    background-color: rgb(247, 239, 239);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-style: inset;
  }
  .btn.btn-primary{
    float: left;
    margin-right: 15px;

  }
  table.table {
      background: rgb(247, 239, 239);
   width: 700px;
    margin: 15px;

  }

  table {
      text-align: center;
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }